.hidden {
  display: none !important;
}

/*colors go from light to dark [tan, light green, medium green, forest green, dark green]*/
:root {
  --color-1: #74B3CE;/*beige*/
  --color-2: #81c14b;/*ultra light green*/
  --color-3: #2e933c;/*light green*/
  --color-4: #297045;/*medium green*/
  --color-5: #204e4a;/*dark green*/
}

html {
  background-color: #f3f3f3;
  font-family: sans-serif;
}

.title__main {
  background-color: var(--color-1);
  width: 100%;
  padding: 1em 0;
  margin: 0;
}

.center {
 text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.theme-select {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
}
.theme-select li {
  margin-bottom: 5px;
}
.theme-select__title {
  font-size: 1.2em;
  padding-bottom: 5px;
}
.theme-select__item {
  color: initial;
  cursor: pointer;
  background-color: initial;
  padding: 2px 0;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.theme-select__item:hover {
  color: #FCFCFC;
  background-color: #8CBA80;
}
.dev {
  background-color: var(--color-1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.dev li {
  cursor: pointer;
  padding: 1em 0;
  text-align: center;
  flex-grow: 1;
  -webkit-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
}
.dev li:hover {
  background-color: #313628;
  color: white;
}


