// site colors - goes from lightest to darkest
:root {
  $color-1: #ecba82;// beige
  $color-2: #81c14b;// ultra light green
  $color-3: #2e933c;// light green
  $color-4: #297045;// medium green
  $color-5: #204e4a;// dark green
}
